{% extends "base.html" %}
{% block title %}Cheese List{% endblock title %}
{% block content %}
  <h2>Cheese List</h2>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      width: 33%;  /* Adjusted for three columns */
      padding: 10px;
      border-bottom: 1px solid lightgrey;
    }
  </style>
  <table>
    <tr>
      <th>Cheese</th>
      <th>Country</th>
      <th>Command</th>  <!-- Added Command column header -->
      <th>Rating</th>
    </tr>
    {% for cheese in cheese_list %}
    <tr>
      <td><a href="{% url 'cheeses:detail' cheese.slug %}">{{ cheese.name }}</a></td>
      <td>{{ cheese.country_of_origin.name }}</td>
      <td>
        <a href="{% url 'cheeses:update' cheese.slug %}" class="btn btn-primary mr-2">Update</a>  <!-- Added margin to the right -->
        <a href="{% url 'cheeses:delete' cheese.slug %}" class="btn btn-danger">Delete</a>

      </td>
      <td>{{ cheese.average_rating }}</td>
    </tr>
    {% endfor %}

  </table>
  <p class="mt-3">  <!-- Added margin to the top -->
    <a href="{% url 'cheeses:add' %}" class="btn btn-success">Add Cheese</a>
  </p>
{% endblock content %}
